<!-- Bottom navbar -->
<div id="bottom_bar">
  <ul class="project-navigation">
    <li class="list-item home">
      <a>Return to dashboard</a>
    </li>
    <li class="list-item">
      <a>Kektus</a>
    </li>
    <li class="list-item screen">
      <a>Index Login</a>
    </li>
  </ul>

  <ul class="console-modes">
    <li class="list-item preview-mode active">
      <a><span class="glyphicon glyphicon-search"></span></a>
    </li>
    <li class="list-item build-mode">
      <a><span class="glyphicon glyphicon-education"></a>
    </li>
    <li class="list-item comment-mode">
      <a><span class="glyphicon glyphicon-list-alt"></a>
    </li>
    <li class="list-item inspect-mode">
      <a><span class="glyphicon glyphicon-stats"></a>
    </li>
    <li class="list-item history-mode">
      <a ui-sref="profile"><span class="glyphicon glyphicon-user"></a>
    </li>
  </ul>

  <ul class="buttons">
    <a class="button liveshare" href="http://ois.ut.ee" target="_blank">
      <span>ÕIS</span>
    </a>
    <a class="button share" href="http://moodle.ut.ee" target="_blank">
      <span>Moodle</span>
    </a>
  </ul>

  <ul class="settings">

  </ul>
</div>
