<!-- BEGIN HEADER INNER -->
<nav class="navbar navbar-default navbar-fixed-top topnav header_color">
  <!-- BEGIN LOGO -->

  <div class="page-logo">
    <a href="index.html">
      <img src="" alt="logo" class="logo-default" />
    </a>
    <div class="menu-toggler sidebar-toggler" ng-click="Layout.sidebar_is_closed = !Layout.sidebar_is_closed">
      <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN RESPONSIVE MENU TOGGLER -->

  <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
  </a>


  <li class="dropdown dropdown_menu menu_box">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username username-hide-on-mobile name_color hide_name">
  						{{ currentUser.full_name }}
						</span>
            <img alt="" class="img-circle" ng-src="{{ currentUser.avatar }}" />
          </a>
          <ul class="dropdown-menu dropdown-menu-default toggled_menu">
            <li>
              <a ui-sref="main">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
              </a>
            </li>
            <li>
              <a ui-sref="account">
                <i class="icon-user"></i> My Profile </a>
            </li>
            <li>
              <a href="#/todo">
                <i class="icon-rocket"></i> My Tasks
              </a>
            </li>
            <li class="divider">
            </li>
            <li>
              <a ng-click="mainctrl.logout()">
                <i class="icon-key"></i> Log Out </a>
            </li>
          </ul>
</li>


  <!-- <nav class="navbar navbar-default navbar-fixed-top topnav">
       <div class="container topnav">
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a data-ui-sref='home' class="navbar-brand topnav" href="#"><img src="img/utlogo.png" width="170" height="30" alt="Kektus Education Inc."></a>
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav navbar-right">

             <li>
               <a data-ui-sref='about'>{{ 'ABOUT' | translate }}</a>
             </li>
             <li>
               <a data-ui-sref='contact'>{{ 'CONTACT' | translate }}</a>
             </li>
             <li class="langbox">
               <select class="styled-select" ng-options="language | translate for language in welcomeCtrl.languages" ng-model="welcomeCtrl.language" ng-change="welcomeCtrl.updateLanguage()"></select>
             </li>
           </ul>
         </div>

       </div>

     </nav> -->


    <!-- END TOP NAVIGATION MENU -->

</nav>
  <!-- END PAGE TOP -->

<!-- END HEADER INNER -->
