<!-- BEGIN HEADER INNER -->
<nav class="navbar navbar-fixed-top topnav header_color">
  <!-- BEGIN LOGO -->

  <div class="page-logo">
    <!-- <a href="index.html">
      <img src="" alt="logo" class="logo-default" />
    </a> -->
    <div class="menu-toggler sidebar-toggler" ng-click="Layout.sidebar_is_closed = !Layout.sidebar_is_closed">
      <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN RESPONSIVE MENU TOGGLER -->

  <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
  </a>

<!-- BEGIN USER DROPDOWN MENU-->
<ul>
  <li class="dropdown dropdown_menu menu_box">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <span class="username username-hide-on-mobile name_color hide_name">
  						{{ currentUser.full_name }}
						</span>
            <img class="img_resize" alt="" class="img-circle" ng-src="{{ currentUser.avatar }}" />
          </a>
          <ul class="dropdown-menu dropdown-menu-default toggled_menu">
            <li>
              <a ui-sref="main">
                <i class="icon-home"></i>
                <span class="title">{{ 'HEDASH' | translate  }}</span>
              </a>
            </li>
            <li>
              <a ui-sref="account">
                <i class="icon-user"></i> {{ 'HEPROF' | translate  }} </a>
            </li>
            <li>
              <a href="#/todo">
                <i class="icon-rocket"></i> {{ 'HETASK' | translate  }}
              </a>
            </li>
            <li class="divider">
            </li>
            <li>
              <a ng-click="mainctrl.logout()">
                <i class="icon-key"></i> {{ 'HELOG' | translate  }} </a>
            </li>
          </ul>
</li>
</ul>
<!-- END USER DROPDOWN MENU-->

</nav>
