<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PORTLET-->
		<div class="portlet box yellow-crusta">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>{{ 'MYCREATE' | translate  }}
				</div>
				<!-- <div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="#" data-toggle="modal" class="config">
					</a>
					<a href="javascript:;" class="reload">
					</a>
					<a href="javascript:;" class="remove">
					</a>
				</div> -->
			</div>
			<div class="portlet-body form">
				<form id="form-username" class="form-horizontal form-bordered" ng-submit="ctrl.createNewTeam()">
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ 'CREATENAME' | translate  }}</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-user"></i>
								</span>
								<input ng-model="ctrl.model.name" type="text" class="form-control" required/>
							</div>
							<p class="help-block">
								{{ 'CREATEEG' | translate  }}
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ 'TEAMPROJECT' | translate  }}</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-search"></i>
								</span>
								<input ng-model="ctrl.model.project_name" type="text" class="form-control" required/>
							</div>
							<p class="help-block">
								{{ 'CREATEEG2' | translate  }}
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ 'TEAMURL' | translate  }}</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-github"></i>
								</span>
								<input ng-model="ctrl.model.repository_url" type="text" class="form-control"/>
							</div>
							<!-- <p class="help-block">

							</p> -->
						</div>
					</div>
					<div class="form-group ">
						<label class="col-sm-3 control-label">{{ 'TEAMENV' | translate  }}</label>
						<div class="col-sm-4">
							<div class="input-group">
								<span class="input-group-addon">
								<i class="fa fa-globe"></i>
								</span>
								<input ng-model="ctrl.model.staging_url" type="text" class="form-control"/>
							</div>
							<!-- <p class="help-block">

							</p> -->
						</div>
					</div>
					<div class="form-actions">
						<div class="row">
							<div class="col-md-offset-3 col-md-9">
								<button type="submit" class="btn purple"><i class="fa fa-check"></i> {{ 'ACCSUB' | translate  }}</button>
								<button type="button" class="btn default">{{ 'ACCCANCEL' | translate  }}</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- END PORTLET-->
	</div>
</div>
