// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "./css/content";


#bottom_bar {
  background: #1f2532;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2000;
  height: 60px;
  width: 100%;
  box-shadow: 0 -2px 9px rgba(31, 37, 50, 0.15);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;



  .buttons {
    float: right;
    margin: 13px 15px 0 0;
  }

  a.button {
    width: 40px;
    height: 34px;
    border-radius: 2px;
    float: left;
    margin: 0 0 0 6px;
    border: 1px solid #2c3547;
    position: relative;
    color: #8891a0;
    line-height: 27px;
    letter-spacing: 0.6px;
    overflow: hidden;
    font-size: 10px;
    text-indent: 0;
    -webkit-transition: width 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;
    transition: width 0.2s ease, background-color 0.2s ease, border-color 0.2s ease;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }

    &:hover {
      color: #fff;

      span {
        display: block;
        opacity: 1;
      }
    }

    &.ois {
      width: 105px;

      &:before {
        overflow: hidden;
        display: block;
        width: 9px;
        height: 15px;
        margin: 10px 0 0 16px;
      }

      &:hover {
        background: #4e8fc7;
        border: 1px solid #4e8fc7;
      }

      span {
        margin-left: 35px;
      }
    }

    &.moodle {
      width: 81px;

      &:before {
        overflow: hidden;
        display: block;
        width: 11px;
        height: 10px;
        margin: 12px 0 0 14px;
      }

      &:hover {
        background: #F58021;
        border-color: #F58021;
      }
    }

    span {
      margin: 4px 0 0 32px;
      display: block;
    }
  }
}
@media all and (max-width: 991px) {
.hide_footer_icons { display: none; }
}

@media all and (max-width: 768px) {
.hide_footer_icons2 { display: none; }
}
