<div class="row" ng-controller="MyTeamSettingsController as ctrl">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">{{ 'ACCPROFILE' | translate  }}</span>
				</div>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#" data-target="#tab_1_1" data-toggle="tab"> {{ 'ACCINFO' | translate  }}</a>
					</li>
					<li>
						<a href="#" data-target="#tab_1_2" data-toggle="tab">{{ 'ACCAVATAR' | translate  }}</a>
					</li>
				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<!-- PERSONAL INFO TAB -->
					<div class="tab-pane active" id="tab_1_1">
						<form role="form" action="#">
							<div class="form-group">
								<label class="control-label">{{ 'TEAMNAME' | translate  }}</label>
								<input type="text" placeholder="{{ currentTeam.name }}" class="form-control" disabled/>
							</div>
							<div class="form-group">
								<label class="control-label">{{ 'TEAMPROJECT' | translate  }}</label>
								<input type="text" placeholder="{{ currentTeam.project_name }}" class="form-control" disabled/>
							</div>
							<div class="form-group">
								<label class="control-label">{{ 'TEAMURL' | translate  }}</label>
								<input ng-model="ctrl.model.repository_url" type="text" placeholder="{{ currentTeam.repository_url }}" class="form-control"/>
							</div>
							<div class="form-group">
								<label class="control-label">{{ 'TEAMENV' | translate  }}</label>
								<input ng-model="ctrl.model.staging_url" type="text" placeholder="{{ currentTeam.staging_url }}" class="form-control"/>
							</div>
							<div class="form-group">
								<label class="control-label">{{ 'TEAMABOUT' | translate  }}</label>
								<textarea ng-model="ctrl.model.description" class="form-control" rows="3" placeholder="{{ currentTeam.description }}"></textarea>
							</div>
							<div class="margiv-top-10">
								<a href="#" class="btn green-haze" ng-click="ctrl.saveChanges()">
								{{ 'ACCSAVE' | translate  }} </a>
								<a href="#" class="btn default" ng-click="ctrl.resetModel()">
								{{ 'ACCCANCEL' | translate  }} </a>
							</div>
						</form>
					</div>
					<!-- END PERSONAL INFO TAB -->
					<!-- CHANGE AVATAR TAB -->
					<div class="tab-pane" id="tab_1_2">
						<p>
							Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
						</p>
						<form action="#" role="form">
							<div class="form-group">
								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="max-width: 200px; max-height: 200px;">
										<img class="img-responsive" src="{{ currentTeam.avatar }}" alt=""/>
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 200px;">
									</div>
									<div>
										<span class="btn default btn-file">
										<span class="fileinput-new">
										{{ 'ACCIMG' | translate  }} </span>
										<span class="fileinput-exists">
										{{ 'ACCCHANGE' | translate  }} </span>
										<input type="file" accept="image/*" fileread="ctrl.model.avatar" />
										</span>
										<a href="#" class="btn default fileinput-exists" data-dismiss="fileinput" ng-click="ctrl.resetModel()">
										{{ 'ACCIMGREMOVE' | translate  }} </a>
									</div>
								</div>
								<div class="clearfix margin-top-10">
									<span class="label label-danger">NOTE!</span>
									<span> {{ 'ACCTEXT' | translate  }} </span>
								</div>
							</div>
							<div class="margin-top-10">
								<a href="#" class="btn green-haze" ng-click="ctrl.changeAvatar()">
								{{ 'ACCSUB' | translate  }} </a>
								<a href="#" class="btn default" ng-click="ctrl.resetModel()">
								{{ 'ACCCANCEL' | translate  }} </a>
							</div>
						</form>
					</div>
					<!-- END CHANGE AVATAR TAB -->
				</div>
			</div>
		</div>
	</div>
</div>
